extends layout
block content

  body
    .header.font_helvetica
      .nav_link.links_left
        a(href='#') Home
      .nav_link.links_center.font-20
        h5 Amanda Green
      .nav_link.links_right
        a(href='https://www.google.com/') Albums
        a(href='#') Contact
    .main-image.font_helvetica.width_100
      //
        child1 flex direction column/ justify content flex start
        google z index 2 image 1 background-image: linear-gradient(to right, black , #ffffff);
      .left-side.font_helvetica
        h6 Image Name
        h7 Image Location
        p
          | simply dummy text of the printing and typsetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop puplishing software like Aldus PageMaker including versions of Lorem Ipsum.
      .right-side.font-bold.font-20
        h8 Explore
    .container.font-20.font_helvetica
      .banner
        h3 Why
        p
          | simply dummy text of the printing and typsetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop puplishing software like Aldus PageMaker including versions of Lorem Ipsum.
        p.authortag -Amanda Green
    .images
      .image
        .title
          img(src='url' alt='alternatetext')
          h12 Image Name
        p
          | simply dummy text of the printing and typsetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting,
        .button
          p View Image
      .image
        .title
          img(src='url' alt='alternatetext')
          h12 Image Name
        p
          | simply dummy text of the printing and typsetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting,
        .button
          p View Image
      .image
        .title
          img(src='url' alt='alternatetext')
          h12 Image Name
        p
          | simply dummy text of the printing and typsetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting,
        .button
          p View Image
      .image
        .title
          img(src='url' alt='alternatetext')
          h12 Image Name
        p
          | simply dummy text of the printing and typsetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting,
        .button
          p View Image
    .footer
      .center_text.width33
        h9 Green Web Design
      .left_title.width33
        h10 Amanda Green
        h11 Photographer
        p amandagreen@acu.com
        p
        p +1 (713)907-2405
        p
      .right_title.width33
        h12 Green Web Designs LLC
        p Designed By Brent Green
        p Developed By Brent Green
